@charset "UTF-8";



 body { font-style: normal;
    
 }
  main{
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 20px;
    padding: 10px;
    width: 600px;
    margin: auto;
  }
  h1{
    font-size: 30px;
  }
  p{ text-align: justify;}